# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#mes fichiers a ignorés
/../css/owl.carousel.css
/../icons/
/../img/
/../js/owl.carousel.min.js
/../js/owl.carousel.js